* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main__header {
  background-color: white;
  box-shadow: 0.1px 0px 2px 0px black;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.img--header {
  width: 10%;
  margin: 0.3%;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 7%;
}

.content--title {
  display: flex;
  justify-content: left;
  width: 65%;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
}

.content--description {
  display: flex;
  justify-content: left;
  width: 65%;
  height: 100%;
  font-weight: 400;
}

.content--card {
  display: flex;
  justify-content: left;
  width: 65%;
  height: 100%;
  font-weight: 400;
}

.main__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.card__description {
  width: 70%;
  margin-left: 2%;
}

.subcard--one {
  display: flex;
  width: 90%;
  margin: 2%;
}

.subcard--two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.frequency_container {
  width: 56%;
  display: flex;
  flex-direction: row;
}

.frequency__selection {
  margin-left: 9%;
}

.toggle__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  height: 100%;
}

.selected_frequency--input {
  margin-left: 2%;
}

.card__link {
  text-decoration: none;
  color: #d6430a;
  margin-left: 2%;
}

.card__title {
  font-size: 1.5rem;
  margin-left: 2%;
}

.btn--autosync {
  background-color: #d6430a;
  color: white;
}

/* media--queries */

@media screen and (max-width: 1440px) {
  .toggle__container {
    width: 30%;
  }

  .frequency_container {
    width: 50%;
  }
  .frequency__selection {
    margin-left: 11%;
  }
}

@media screen and (max-width: 1400px) {
  .btn--autosync {
    margin-left: 6rem;
  }

  .toggle__container {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 1200px) {
  .frequency__selection {
    margin-left: 12.5%;
  }
  .selected_frequency--input {
    margin-left: 3%;
  }
  .btn--autosync {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .subcard--two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .frequency__selection {
    margin-left: 0%;
  }

  .selected_frequency--input {
    margin-left: 0%;
  }
  .frequency_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn--autosync {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 992px) {
  .toggle__container {
    width: 50%;
  }

  .img--header {
    width: 13%;
  }

  .content--title {
    width: 70%;
  }

  .content--description {
    width: 70%;
  }

  .content--card {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .subcard--one {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  .img--header {
    width: 22%;
  }
  .card__description {
    width: 100%;
  }
  .toggle__container {
    display: flex;
    width: 100%;
    margin-top: 5%;
  }

  .content--title {
    width: 80%;
  }

  .content--description {
    width: 80%;
  }

  .content--card {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .img--header {
    width: 24%;
  }

  .content--title {
    width: 90%;
  }

  .content--description {
    width: 90%;
  }

  .content--card {
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  .img--header {
    width: 26%;
  }

  .content--card {
    width: 95%;
  }

  .content--description {
    width: 95%;
  }

  .content--title {
    width: 95%;
  }
}
